body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  position: relative;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* Coordinates */
.board-row:first-child > button::after,
.board-row > button:first-child::before {
  font-size: 0.5em;
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Column's coordinates */
.board-row:first-child > button::after {
  left: 0;
  top: -85%;
}

/* Row's coordinates */
.board-row > button:first-child::before {
  left: -85%;
  top: 0;
}

/* Coordinates' numbers */
.board-row:first-child > button:first-child::after,
.board-row:first-child > button:first-child::before {
  content: "1";
}

.board-row:first-child > button:nth-child(2)::after,
.board-row:nth-child(2) > button:first-child::before {
  content: "2";
}

.board-row:first-child > button:nth-child(3)::after,
.board-row:nth-child(3) > button:first-child::before {
  content: "3";
}
